node_modules/
*.log
docs/
.coverdata/
.coverrun
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.idea/
sauce.json

demos/
test/
.closurelinter
.csslintrc
.editorconfig
.jshintrc
.npmignore
.jshintignore
.travis.yml
aqua.config.json
aqua.node.project.json
aqua.web.project.json
gulpfile.js