/* clean up the UI a bit without modifying the templates */
.jsdoc-message,
.page-title,
article > p:first-child,
.sunlight-menu ul > li:first-child
{
  display: none!important;
}

#aqua-footer {
  color: #555;
}

/* style the <kbd> tag */
kbd {
  border-style: solid;
  border-color: #ccc #aaa #888 #bbb;
  border-width: 1px;
  padding: .1em .6em;
  font-size: 11px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap
}